:root {
  --main-bg-color: #060ab2;
  --secondary-bg-color: #1c7ccc;
  --button-bg-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: var(--main-bg-color);
}

.container {
  display: flex;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(30% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: var(--secondary-bg-color);
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.reset-block {
  display: flex;
  justify-content: center;
  margin-top: 0.3rem;
}

.reset-block button {
  background-color: var(--button-bg-color);
  border-color: var(--main-bg-color);
  border-radius: 8px;
  color: var(--main-bg-color);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.8rem 1.2rem;
  user-select: none;
}

.reset-block button:hover {
  color: var(--button-bg-color);
  background-color: var(--secondary-bg-color);
}

.reset-block button:active {
  transform: scale(0.9);
}
