:root {
  --main-bg-color: #060ab2;
  --secondary-bg-color: #1c7ccc;
  --button-bg-color: #ffffff81;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  /* background: var(--main-bg-color); */
  background-image: url(./img/stormsea.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.container {
  display: flex;
}

.memory-game {
  width: 640px;
  height: 90vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  /* max-height: calc(33.333% - 10px); */
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  /* background: var(--secondary-bg-color); */
  background-image: url(./img/raindrops.jpg);
  box-shadow: 0 6px 24px 0 rgb(101, 111, 250);
  opacity: 0.9;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.reset-block {
  display: flex;
  justify-content: center;
  margin: 0.8rem;
}

.reset-block button {
  background-color: var(--button-bg-color);
  border: 1px solid var(--secondary-bg-color);
  border-radius: 8px;
  color: var(--main-bg-color);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.8rem 1.2rem;
  user-select: none;
  box-shadow: 0 6px 24px 0 rgb(101, 111, 250);
}

.reset-block button:hover {
  color: #fff;
  background-color: var(--secondary-bg-color);
  
}

.reset-block button:active {
  transform: scale(0.9);
}

.score-block {
  margin-left: 5%;
}

.score {
  font-size: 1.2rem;
}
